.slider-container{
    width: 100%;
}
.slider-container {
height: 100%;
object-fit: cover; 
}

/* Slider background color */
.awssld {
    --slider-height-percentage: 40%; 
    --organic-arrow-color: #ffffff; 
    background-color: #ffffff00;
    background-color: transparent; 
  }
  
  /* Adjust slide image height */
  .awssld__content > div {
    height: 600px;
  }
  
  .slider-item img {
    position: relative;
    height: 100%;
    object-fit: cover;
    padding: 0; 
  }
