.hotelImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.roomImg{
    position: relative;
    overflow: hidden;

}
.layer{
    background-color: #E0E2E6;
    width: 100%;
    bottom: 0%;
    padding: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 13px;
}

