.location{
    width:"300" ;
     height:"300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
}
.hotelImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.roomImg{
    position: relative;

}
.layer{
    background-color: rgba(108, 117, 125, 0.75);
    width: 100%;
    bottom: 0%;
    padding: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 13px;
}
.Slider{
    height:400px !important ;
    object-fit: cover;
    
}